@model PasswordChangeViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @*ModelOnly=> Identityin global olarak vermiş olduğu hatalardır
            proplarıma ait hatalarımı göstermek için değil yani
            *@
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
            </div>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }
            <h4 class="card-title">Şifre Bilgileri:</h4>
            <p class="card-description">Aşağıdaki İşlemlerden Şifrenizi Değiştirebilirsiniz.</p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputPassword4">Eski Şifre:</label>
                    <input type="password" asp-for=PasswordOld class="form-control" id="exampleInputPassword4" placeholder="Password">
                    <span asp-validation-for="PasswordOld"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Yeni Şifre :</label>
                    <input type="password" asp-for=PasswordNew class="form-control" id="exampleInputPassword4" placeholder="Password">
                    <span asp-validation-for="PasswordNew"></span>

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Yeni Şifre Tekrar:</label>
                    <input type="password" asp-for=PasswordNewConfirm class="form-control" id="exampleInputPassword4" placeholder="Password">
                    <span asp-validation-for="PasswordNewConfirm"></span>

                </div>
                <button class="btn btn-gradient-info mr-2">Şifre Değiştir</button>
            </form>
        </div>
    </div>
</div>

